<a href="https://colab.research.google.com/github/ALiMehran01/Data-Science_Algorithm/blob/main/20sw008_Lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lab-02:Control flow in python
Roll No:20sw008
Section: 2

Task-01

In [3]:
points = 174

if points <= 50:
    result = "Congrats wooden rabbit!"
elif points <= 150:
    result = "No prize ):"
elif points <= 180:
    result = "Congrats! You won a wafer-thin mint!"
else:
    result = "Congrats! You won a penguin!"

print(result)

Congrats! You won a wafer-thin mint!

Task-02

In [4]:
answer = 8
guess = 8

if guess < answer:
    result = "Oops!  Your guess was too low."
elif guess > answer:
    result = "Oops!  Your guess was too high."
elif guess == answer:
    result = "Nice!  Your guess matched the answer!"

print(result)

Nice!  Your guess matched the answer!

Task-03

In [7]:
state = 'MN'
purchase_amount = 100

if state == 'CA':
    tax_amount = .075
    total_cost = purchase_amount + (purchase_amount * tax_amount)
    result = "Since you're from {}, your total cost is {}.".format(state, total_cost)

elif state == 'MN':
    tax_amount = .095
    total_cost = purchase_amount*(1+tax_amount)
    result = "Since you're from {}, your total cost is {}.".format(state, total_cost)

elif state == 'NY':
    tax_amount = .089
    total_cost = purchase_amount*(1+tax_amount)
    result = "Since you're from {}, your total cost is {}.".format(state, total_cost)

print(result)

Since you're from MN, your total cost is 109.5.

Task-04

In [8]:
sentence = ["the", "quick", "brown", "fox", "jumped", "over", "the", "lazy", "dog"]

# for loop to print out each word in the sentence list, one word on each line respecitvely

for Word in sentence:
    print(Word)

the
quick
brown
fox
jumped
over
the
lazy
dog

Task-05

In [10]:
list2 = [i for i in range(1,31,1) if i%5 == 0]
print(list2)

[5, 10, 15, 20, 25, 30]

Task-06

In [14]:
names = ["Rick Sanchez", "Morty Smith", "Summer Smith", "Jerry Smith", "Beth Smith"]

first_names = [name.split()[0].lower() for name in names]

print(first_names)

['rick', 'morty', 'summer', 'jerry', 'beth']

Task-07

In [15]:
multiples_3 = [x * 3 for x in range(1, 21)]
print(multiples_3)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60]

Task-8

In [16]:
scores = {
             "Rick Sanchez": 70,
             "Morty Smith": 35,
             "Summer Smith": 82,
             "Jerry Smith": 23,
             "Beth Smith": 98
          }


passed = [name for name, value in scores.items() if value >= 65]
print(passed)

['Rick Sanchez', 'Summer Smith', 'Beth Smith']

Task-09

In [17]:
cast_names = ["Barney", "Robin", "Ted", "Lily", "Marshall"]
cast_heights = [72, 68, 72, 66, 76]

cast = dict(zip(cast_names, cast_heights))

print(cast)

{'Barney': 72, 'Robin': 68, 'Ted': 72, 'Lily': 66, 'Marshall': 76}

Task-10

In [18]:
cast = ["Barney Stinson", "Robin Scherbatsky", "Ted Mosby", "Lily Aldrin", "Marshall Eriksen"]
heights = [72, 68, 72, 66, 76]

for index, height in enumerate(heights):
    s = "{} {}".format(cast[index], height)
    cast[index] = s

print(cast)

['Barney Stinson 72', 'Robin Scherbatsky 68', 'Ted Mosby 72', 'Lily Aldrin 66', 'Marshall Eriksen 76']