<a href="https://colab.research.google.com/github/ALiMehran01/Data-Science_Algorithm/blob/main/Lab1_20sw008.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lab01 Data Types and Operators
Roll NO
Section

In [ ]:
# Lab1
name = "Mehran"
age = 22

# Printing a sentence with the values of the variables
print("My name is {} and I am {} years old.".format(name, age))

My name is Mehran and I am 22 years old.

Task-2

In [ ]:
text = "Data Science"
if text.endswith("!"):
    print("The text ends with an exclamation mark.")

text2 = "Data Science!"
encoded_text = text2.encode(encoding='utf-8')
print(encoded_text)

text3 = "Data Science!"
casefolded_text = text3.casefold()
print(casefolded_text)

Task-3

In [ ]:
month = 8
days_in_month = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
num_days = days_in_month[month - 1]
print(num_days)

Task-4

In [ ]:
eclipse_dates = ['June 21, 2001', 'December 4, 2002', 'November 23, 2003',
                 'March 29, 2006', 'August 1, 2008', 'July 22, 2009',
                 'July 11, 2010', 'November 13, 2012', 'March 20, 2015',
                 'March 9, 2016']

recent_dates = eclipse_dates[-3:]
print(recent_dates

Task-5

In [2]:
students = {
    "student1": {
        "name": "Ali Mehran",
        "age": 22,
        "grade": "Bachelor",
        "subjects": ["Math", "Python", "English"]
    },
    "student2": {
        "name": "Bilal",
        "age": 20,
        "grade": "BE",
        "subjects": ["History", "Python", "Web"]
    },
    "student3": {
        "name": "Hassan",
        "age": 21,
        "grade": "BE",
        "subjects": ["Physics", "Python", "React"]
    }
}

# Accessing student data
print(students["student1"]["name"])
print(students["student2"]["age"])
print(students["student3"]["subjects"])

Ali Mehran
20
['Physics', 'Python', 'React']